html {
  background-color: #666;

  // abc
  p {
    margin: 10px 20px 10px 20px;
    color: red;
  }

  .img1,
  .img2 {
    width: 250px;
    height: 400px;
  }

  .img2 {
    background: url("../img/2.jpg") no-repeat center center;
    background-size: cover;
  }
}